@{
  ViewData["Title"] = "Create a Character";
  ViewData["Header"] = "Create a Character";
}

@using ScribeQuick.Models.WrapperModels
@model CharacterCreator

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    $(document).ready(function(){
      $("#attrpointsheading").after("<input id='attrpoints' value='18' disabled>");
      $("#skillpointheading").after("<input id='skillpoints' value='18' disabled>");
    })

    $(function() {
      $( "#tabs" ).tabs();
    })

    $(document).on("click",".next-tab", function(e){
      e.preventDefault();
      $('#tabs').tabs("option", "active", $(this).attr("next-tab"));
    })

    $(document).on("click",".btn-deity", function(e){
      e.preventDefault();
      $(".card.deity").removeClass("border border-success");
      $.get($(this).attr("req"), response => {
        console.log(response);
        $(".card.deity[deity-id='"+response.deityId+"'").addClass("border border-success")
        $(".divine-power").each(function(){
          $(this).toggle($(this).attr("deity-id") == response.deityId);
        });
      })
    })

    $(document).on("click",".btn-role", function(e){
      e.preventDefault();
      $(".card.role").removeClass("border border-success")
      $.get($(this).attr("req"), response => {
        console.log(response);
        $(".card.role[role-id='"+response.roleId+"'").addClass("border border-success")
        $(".role-power").each(function(){
          $(this).toggle($(this).attr("role-id") == response.roleId);
        });
      })
    })

    $(document).on('focusin','input.attr-selector', function(){
      console.log("Saving value " + $(this).val());
      $(this).data("preVal", $(this).val());
    }).on('change','input.attr-selector',function(){
      var attr = parseInt($("#attrpoints").val(),10);
      var prev = parseInt($(this).data('preVal'),10);
      var curr = parseInt($(this).val(),10);
      var change = prev - curr;
      console.log("Change: " + change);
      attr += change;
      $("#attrpoints").val(attr);
      $(this).data('preVal',curr);
    });

    $(document).on('focusin','input.skill-selector', function(){
      console.log("Saving value " + $(this).val());
      $(this).data("preVal", $(this).val());
    }).on('change','input.skill-selector',function(){
      var attr = parseInt($("#skillpoints").val(), 10);
      var prev = parseInt($(this).data('preVal'), 10);
      var curr = parseInt($(this).val(), 10);
      var change = prev - curr;
      attr += change;
      $("#skillpoints").val(attr);
      $(this).data('preVal', curr);
    });

    $(document).on("click",".btn-divine-power",function(e){
      e.preventDefault();
      $(".card.divine-power").removeClass("border border-success");
      $.get($(this).attr("req"), response => {
        console.log(response);
        $(".card.power[power-id='"+response.powerId+"'").addClass("border border-success");
      });
    })

    $(document).on("click",".btn-role-power",function(e){
      e.preventDefault();
      $(".card.role-power").removeClass("border border-success");
      $.get($(this).attr("req"), response => {
        console.log(response);
        $(".card.power[power-id='"+response.powerId+"'").addClass("border border-success");
      });
    })

  </script>

  <div class="container" id="tabs">

    <ul>
      <li><a href="#tabs-1">Basic Info</a></li>
      <li><a href="#tabs-2">Choose Deity</a></li>
      <li><a href="#tabs-3">Choose Role</a></li>
      <li><a href="#tabs-4">Choose Attributes</a></li>
      <li><a href="#tabs-5">Choose Skills</a></li>
      <li><a href="#tabs-6">Choose Powers</a></li>
      <li><a href="#tabs-7">Summary</a></li>
    </ul>

    <form asp-controller="Home" asp-action="AddCharacter">

      <div id="tabs-1">
        <div class="form-group">
          <label asp-for="@Model.NewCharacter.Name"></label>
          <span asp-validation-for="@Model.NewCharacter.Name"></span>
          <input asp-for="@Model.NewCharacter.Name" class="form-control">
        </div>
        <a href="" class="btn btn-primary btn-deity next-tab" next-tab="1">Save & Next</a>
      </div>

      <div id="tabs-2" class="row justify-content-between card-columns">
        @foreach (var deity in Model.Deities)
        {
            <div class="card deity" deity-id="@deity.DeityId">
              <img src="" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">@deity.Name</h4>
                <p class="card-text">@deity.About</p>
                <a req="/choosedeity/@deity.DeityId" href="" class="btn btn-primary btn-deity next-tab" next-tab="2">Choose @deity.Name</a>
              </div>
            </div>
        }
      </div>

      <div id="tabs-3" class="row justify-content-between card-columns">
        @foreach (var role in Model.Roles)
        {
            <div class="card role" role-id="@role.RoleId">
              <img src="" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">@role.Name</h4>
                <p class="card-text">@role.About</p>
                <a req="/chooserole/@role.RoleId" href="" class="btn btn-primary btn-role next-tab" next-tab="3">Choose @role.Name</a>
              </div>
            </div>
        }
      </div>

      <div id="tabs-4">

        <h5 id="attrpointsheading">Attribute Points Remaining: </h5>

        <div class="form-row">
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.MeleeProficiency"></label>
            <input asp-for="@Model.NewCharacter.MeleeProficiency" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.RangedProficiency"></label>
            <input asp-for="@Model.NewCharacter.RangedProficiency" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Speed"></label>
            <input asp-for="@Model.NewCharacter.Speed" min="2" max="5" class="form-control attr-selector" value="2">
          </div>
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Agility"></label>
            <input asp-for="@Model.NewCharacter.Agility" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Strength"></label>
            <input asp-for="@Model.NewCharacter.Strength" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Resilience"></label>
            <input asp-for="@Model.NewCharacter.Resilience" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Intelligence"></label>
            <input asp-for="@Model.NewCharacter.Intelligence" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Wisdom"></label>
            <input asp-for="@Model.NewCharacter.Wisdom" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Charisma"></label>
            <input asp-for="@Model.NewCharacter.Charisma" min="1" max="4" class="form-control attr-selector" value="1">
          </div>
          <div class="form-group col-6">
            <label asp-for="@Model.NewCharacter.Faith"></label>
            <input asp-for="@Model.NewCharacter.Faith" min="2" max="4" class="form-control attr-selector" value="2">
          </div>
        </div>

        <a href="" class="btn btn-primary next-tab" next-tab="4">Save & Next</a>

      </div>

      <div id="tabs-5">
        
        <h5 id="skillpointheading">Skill Points Remaining: </h5>

        <h5>Melee Weapon Proficiency</h5>
        <div class="form-row" id="melee">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.MeleeWeapons"></label>
            <input asp-for="@Model.NewCharacter.MeleeWeapons" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Ranged Weapon Proficiency</h5>
        <div class="form-row" id="ranged">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.RangedWeapons"></label>
            <input asp-for="@Model.NewCharacter.RangedWeapons" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Agility</h5>
        <div class="form-row" id="agility">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Traps"></label>
            <input asp-for="@Model.NewCharacter.Traps" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Dodge"></label>
            <input asp-for="@Model.NewCharacter.Dodge" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Stealth"></label>
            <input asp-for="@Model.NewCharacter.Stealth" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Strength</h5>
        <div class="form-row" id="strength">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Climbing"></label>
            <input asp-for="@Model.NewCharacter.Climbing" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Wrestle"></label>
            <input asp-for="@Model.NewCharacter.Wrestle" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Resilience</h5>
        <div class="form-row" id="resilience">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Block"></label>
            <input asp-for="@Model.NewCharacter.Block" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Survival"></label>
            <input asp-for="@Model.NewCharacter.Survival" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Intelligence</h5>
        <div class="form-row" id="intelligence">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.CraftItem"></label>
            <input asp-for="@Model.NewCharacter.CraftItem" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Knowledge"></label>
            <input asp-for="@Model.NewCharacter.Knowledge" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Sorcery"></label>
            <input asp-for="@Model.NewCharacter.Sorcery" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Perception"></label>
            <input asp-for="@Model.NewCharacter.Perception" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Wisdom</h5>
        <div class="form-row" id="wisdom">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Leadership"></label>
            <input asp-for="@Model.NewCharacter.Leadership" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Divination"></label>
            <input asp-for="@Model.NewCharacter.Divination" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Willpower"></label>
            <input asp-for="@Model.NewCharacter.Willpower" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Charisma</h5>
        <div class="form-row" id="charisma">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Persuation"></label>
            <input asp-for="@Model.NewCharacter.Persuation" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Seduction"></label>
            <input asp-for="@Model.NewCharacter.Seduction" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Intimidation"></label>
            <input asp-for="@Model.NewCharacter.Intimidation" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Disguise"></label>
            <input asp-for="@Model.NewCharacter.Disguise" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Animals"></label>
            <input asp-for="@Model.NewCharacter.Animals" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Barter"></label>
            <input asp-for="@Model.NewCharacter.Barter" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.SocialPosturing"></label>
            <input asp-for="@Model.NewCharacter.SocialPosturing" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <h5>Faith</h5>
        <div class="form-row" id="faith">
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Invocation"></label>
            <input asp-for="@Model.NewCharacter.Invocation" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
          <div class="form-group col-3">
            <label asp-for="@Model.NewCharacter.Healing"></label>
            <input asp-for="@Model.NewCharacter.Healing" class="form-control skill-selector" min="0" max="2" value="0">
          </div>
        </div>

        <a href="" class="btn btn-primary next-tab" next-tab="5">Save & Next</a>

      </div>

      <div id="tabs-6">
        <h5>Divine Powers</h5>
        <div class="row card-columns">
          @foreach (var power in Model.Powers.Where(power => power.IsDivine == true && power.Tier == 1))
          {
            <div class="card divine-power power" power-id="@power.PowerId" deity-id="@power.DeityId">
              <img src="" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">@power.Name
                  <br>
                  @power.SkillTreeName
                </h4>
                <p class="card-text">
                  @power.Type
                  <br>
                  @power.Challenge
                  <br>
                  @power.Description
                  <br>
                  Duration: @power.Duration
                  <br>
                  Maximum Level: @power.MaximumLevel
                </p>
                <a req="/choosepower/@power.PowerId" href="" class="btn btn-primary btn-divine-power">Choose @power.Name</a>
              </div>
            </div>
          }
        </div>
        <h5>Role Powers</h5>
        <div class="row card-columns">
          @foreach (var power in Model.Powers.Where(power => power.IsDivine == false && power.Tier == 1))
          {
            <div class="card role-power power" power-id="@power.PowerId" role-id="@power.RoleId">
              <img src="" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">@power.Name
                  <br>
                  @power.SkillTreeName
                </h4>
                <p class="card-text">
                  @power.Type
                  <br>
                  @power.Challenge
                  <br>
                  @power.Description
                  <br>
                  Duration: @power.Duration
                  <br>
                  Maximum Level: @power.MaximumLevel
                </p>
                <a req="/choosepower/@power.PowerId" href="" class="btn btn-primary btn-role-power">Choose @power.Name</a>
              </div>
            </div>
          }
        </div>
      </div>

      <div id="tabs-7">
        <button type="submit" class="btn btn-success">Create</button>
      </div>

    </form>

  </div>